%h1 All your houses
%table
  %tr
    %th Id
    %th Date
    %th
  - @houses.each do |house|
    %tr
      %td= house.id
      %td= house.created_at
      %td= link_to 'View', :action => :show, :id => house.id


= form_for :house, url: houses_path do |f|
  %p
  = f.hidden_field :user_id,  :value => current_user.id
 
  %p
  = f.submit  "Create new house", :class => 'button'
= link_to 'Back', root_path, :class => 'button tiny'