%p
  %strong House number:
  = @house.id
%p
  %strong Owner:
  = @house.user_id
%p
%table
  %tr
    %th Room
    %th Date
    %th
  - @rooms.each do |room|
    %tr
      %td= room.description
      %td= room.created_at
      %td= link_to 'View', :controller => 'room', :action => :show, :id => room.id


%h1 New room
= form_for :room, url: room_index_path do |f|
  %p
    = f.label :description
    %br/
    = f.text_field :description
    = f.hidden_field :house_id,  :value => @house.id
  %p
    = f.submit 'Add room'







= link_to 'Back', houses_path