%p
  %strong Room:
  = @room.description
%p
  %strong House:
  = @room.house_id
%p

%table
  %tr
    %th Id
    %th Date
    %th
  - @furnitures.each do |furniture|
    %tr
    %td= furniture.description  
    %td= furniture.created_at
    %td= link_to 'View', :controller => 'furniture', :action => :show, :id => furniture.id

%p New Furniture
= form_for :furniture, url: furniture_index_path do |f|
  %p
    = f.label :description
    %br/
    = f.text_field :description
    = f.hidden_field :room_id,  :value => @room.id
  %p
    = f.submit

  = link_to 'Back', house_path(:id => @room.house_id)